# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Run allcontributors'
      'command': 'allcontributors:transform'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'allcontributors'
      'submenu': [
        {
          'label': 'Run'
          'command': 'allcontributors:transform'
        }
      ]
    ]
  }
]
